[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
stocks-api = {editable = true, path = ".", extras = ["testing"]}
pydocstyle = "*"
pyramid-restful-framework = "*"
pyramid = "*"
requests = "*"
marshmallow-sqlalchemy = "*"
"psycopg2-binary" = "*"
cryptacular = "*"
pyramid-jwt = "*"

[dev-packages]

[requires]
python_version = "3.7"
